/* line 5, ../sass/main.scss */
.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

/* line 11, ../sass/main.scss */
body {
  background-color: #e4e4e4; }

/* line 15, ../sass/main.scss */
.wrapper {
  padding: 0;
  margin: 100px;
  width: 1000px;
  background-color: #f2f2f2;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid #dfdfdf;
  border-left: 2px solid #dfdfdf; }

/* line 26, ../sass/main.scss */
.instagram-button {
  -webkit-transition: padding 0.15s ease, margin 0.15s ease;
  -moz-transition: padding 0.15s ease, margin 0.15s ease;
  -o-transition: padding 0.15s ease, margin 0.15s ease;
  transition: padding 0.15s ease, margin 0.15s ease;
  position: relative;
  display: block;
  float: left;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 50px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: white;
  background-image: url(http://placekitten.com/200/200);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4); }
  /* line 47, ../sass/main.scss */
  .instagram-button:before, .instagram-button:after {
    -webkit-transition: opacity 0.15s ease;
    -moz-transition: opacity 0.15s ease;
    -o-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;
    z-index: 1;
    position: absolute;
    display: block;
    margin: 10px 0 10px 0;
    width: 100%;
    left: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  /* line 58, ../sass/main.scss */
  .instagram-button:before {
    content: "world";
    bottom: 0; }
  /* line 63, ../sass/main.scss */
  .instagram-button:after {
    content: "hello";
    top: 0; }
  /* line 68, ../sass/main.scss */
  .instagram-button:hover {
    padding: 35px 15px 35px 15px;
    margin: 25px 45px 25px 45px; }
    /* line 72, ../sass/main.scss */
    .instagram-button:hover:before, .instagram-button:hover:after {
      -webkit-transition: opacity 0.15s ease;
      -webkit-transition-delay: 0.15s;
      -moz-transition: opacity 0.15s ease 0.15s;
      -o-transition: opacity 0.15s ease 0.15s;
      transition: opacity 0.15s ease 0.15s;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }

/* line 79, ../sass/main.scss */
.divider {
  height: 2px;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #dfdfdf;
  float: left; }
